{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "prettier"
  ],
  "overrides": [
    {
      "files": "**/*.vue",
      "rules": {
        "vue/no-multiple-template-root": "off",
        "no-console": "off",
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "off"
      }
    },
    {
      "files": [
        "**/composables/**/*.ts",
        "**/utils/**/*.ts",
        "**/plugins/**/*.ts"
      ],
      "rules": {
        "no-console": "off",
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "off"
      }
    },
    {
      "files": [
        "**/server/**/*.ts"
      ],
      "rules": {
        "no-console": "off",
        "no-unused-vars": "off"
      }
    }
  ]
}
