# Ignore artifacts:
build
coverage
node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
*.sqlite

# ignore generate imports
auto-imports.d.ts
components.d.ts
nuxt.d.ts

# nuxt and other artefacts
.nuxt
.output
node_modules
dist
public
